@import url("font.css");
@import url("reset.css");
html, body {
  font-size: calc(100vw * 10/1920);
  font-family: "NotoSansKR";
}

body {
  background: #f1f1f3;
}

.m_show { display: none; }
.m_hide { display: block; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 20rem;
}

// contents 영역 
.contents img { width: 100%; }

// gallery 영역
.gallery { padding: 0 0 16rem 0;
  &__title {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 400;
    line-height: 1;
    padding-top: 6rem;
  }
}

// button 영역
.btn_wrap {
  text-align: center;
}
.inquiry_btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 112rem;
  height: 14rem;
  font-size: 3.8rem;
  background: #12304a;
  color: #fff;
  border: 0;
  outline: 0;
  line-height: 1.2;
}

a.inquiry_btn { display: none }



@media screen and (max-width: 1400px) {
  html, body {
    font-size: calc(100vw * 10/1440);
  }  
  button.inquiry_btn { display: none }
  a.inquiry_btn { display: inline-block; padding: 2.4rem 0; }
  .m_show { display: block; }
  .m_hide { display: none; }
}